.body-Card {
  min-height: 100vh;
  background: linear-gradient(to bottom, #ffffff, #eeddc8);
  background-repeat: no-repeat;
  border-left: 1px solid #000; 
  border-right: 1px solid #000; 
  margin-left: 100px;
  margin-right: 87px;
}
.card-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: #eeddc8;
  }
  
  img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  
  .card-title {
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Proxima Nova', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #0074D9;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .card-text{
    display: flex;
    font-family: 'Proxima Nova', sans-serif;
    flex-direction: column;
  }
  .button-container {
    display: flex;
    justify-content: flex-end; 
    margin-right: 300px; 
  }
  
  .load-more-button {
    background: transparent;
    color: #0074D9;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .load-more-button:hover {
    background-color: transparent;
    color: #0056b3; 
  }