.AppBar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 0 20px; 
    font-size: 30px;
  }
  
  .Link {
    font-family: 'Proxima Nova', sans-serif;
    color: black;
    display: flex;
    gap: 50px;
    padding: 40px;
    font-size: large;
    font-weight: 300;
    text-align: left;
    font-size: 30px;
  }
  .CenteredText {
    font-size: 45px;
    font-family: 'Proxima Nova', sans-serif;
    text-align: center;
    color: black;
    margin-left: 600px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
  }