.icon-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .icon {
    background-color: #61dafb;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .text {
    font-size: 11px;
    font-family: 'Proxima Nova', sans-serif;
    width: 150px;
    }
   .bold{
    font-weight: bold;
   } 
  