.body-Home {
  min-height: 100vh;
  background: linear-gradient(to bottom, #ffffff, #eeddc8);
  background-repeat: no-repeat;
  border-left: 1px solid #000; 
  border-right: 1px solid #000; 
  margin-left: 100px;
  margin-right: 87px;
}
.circle-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .logo {
    width: 300px; 
    height: 300px; 
  }
  
  .button-row {
    display: flex;
    gap: 60px;
    margin-bottom: 15px;
  }
  
  .circle-button {
    font-family: 'Proxima Nova', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60px; 
    height: 60px;
    border: 6px solid #0074D9;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    background-color: #0074D9;
    color: white;
    transition: background-color 0.3s;
  }
  
  .button-text {
    margin: 0;
  }
  
  .circle-button:hover {
    background-color: #0056b3;
  }
  
  .input-field {
    font-family: 'Proxima Nova', sans-serif;
    width: 50%; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  .submit-button { 
    margin-top: 30px;
    font-family: 'Proxima Nova', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 60px; 
      height: 60px;
      border: 6px solid #0074D9;
      border-radius: 50%;
      cursor: pointer;
      font-weight: bold;
      background-color: #0074D9;
      color: white;
      transition: background-color 0.3s;
    }
    
    .logo-heading-container {
      display: flex;
      font-family: 'Proxima Nova', sans-serif;
      align-items: center;
    }
    
    .small-logo {
      width: 250px;
      height: 250px;
      margin-right: 10px; 
      border: none;
    }
    
    .logo-heading {
      font-size: 24px; 
    }
  
    .input-field-container{
      gap: 30px;
    }
    @media screen and (max-width: 600px) {
      .circle-button-container {
        padding: 10px;
      }
    
      .logo {
        width: 200px;
        height: 200px;
      }
    
      .button-row {
        gap: 5px;
      }
    
      .circle-button {
        width: 40px;
        height: 40px;
        border: 4px solid #0074D9;
      }
    
      .input-field {
        width: 80%;
      }
    }
  