.head-head2{
    text-align: center;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 40px;
}
p{
    font-family: 'Proxima Nova', sans-serif;
}
.p-p1{
    text-align: center;
    font-size: 18px;
    padding: 10px ;
    width: 600px;
    margin-left: 645px;
}
.image-imageapi{
    position: absolute;
    left: 770px;
    width: 500px;
    bottom: 100px;
}

.image-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    padding-top: 50px;
}
.image-wrapper img{
    width: 1200px;
    height: auto; 
    border-radius: 10%;
}
